.header{
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;
        &__links{
            display: flex;
            align-items: center;
            .list{
                display: flex;
                gap: 20px;
                a{
                    font-family: "medium";
                    font-size: 23px;
                    color: white;
                }
            }
        }
        &__search{
            display: flex;
            gap: 14px;
            align-items: center;
            .items{
                display: flex;
                gap: 14px;
                align-items: center;
                img{
                    width: 27px;
                    height: 27px;
                }
            }
            .input{
                position: relative;
                margin-top: -8px;
                input{
                    position: relative;
                    padding: 5px 14px;
                    font-family: "light";
                    font-size: 15px;
                    color: white;
                    width: 320px;
                    border-radius: 58px;
                    background: rgba(255, 255, 255, 0.27);
                    backdrop-filter: blur(20.899999618530273px);  
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: 58px; 
                        padding: 3px; 
                        background:linear-gradient(45deg, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0), rgba(159, 159, 159, 1));  
                        -webkit-mask: 
                           linear-gradient(#fff 0 0) content-box, 
                           linear-gradient(#fff 0 0);
                        -webkit-mask-composite: xor;
                                mask-composite: exclude; 
                      }  
                }
                img{
                    position: absolute;
                    right: 20px;
                    top: 9px;
                }
            }
        }
    }
}