.search{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
    min-height: 100vh;
    .papernames{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
        gap: 15px;
        &__item{
            display: flex;
            cursor: pointer;
            gap: 5px;
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}